@using System.Collections;
@model RunnersTracker.WebUI.Models.RegisterModel

@{
    ViewBag.Title = "Runner's Tracker - Register";
    ViewBag.Register = "active";
}
<div class="row">
    <div class="small-12 large-12 columns">
        <h2>Sign up!</h2>
    </div>
</div>


<div class="row">
    <div class="small-6 large-6 columns">
        Sign up now to start enjoying this awesome service that you have no idea what it does!
    </div>
    <div class="small-6 large-6 columns">
        @if (ViewBag.Confirm != null) {        
            <p>The confirmation link was invalid please check your link.
            <a href="/register/resend">Resend the link?</a></p>        
        }
        @if (ViewBag.UserExists != null)
        {
            <p>This email address has already been registered.  Did you forget your <a href="/login/reset">password?</a></p>
        }
       <form name="register" method="post" action="/register/doRegister" class="custom">
           <fieldset>
               <legend>Sign up!</legend>
               <div class="row">
                   <div class="small-3 large-3 columns">                       
                       @Html.LabelFor(model => model.FirstName, new { @class = "right inline"})                       
                   </div>
                   <div class="small-9 large-9 columns">                       
                       @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
                       @Html.ValidationMessageFor(model => model.FirstName)
                   </div>
               </div>
               <div class="row">
                   <div class="small-3 large-3 columns">
                       @Html.LabelFor(model => model.LastName, new { @class = "right inline"})
                   </div>
                   <div class="small-9 large-9 columns">
                       @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                       @Html.ValidationMessageFor(model => model.LastName)
                   </div>
               </div>
               <div class="row">
                   <div class="small-3 large-3 columns">
                        @Html.LabelFor(model => model.Email, new { @class = "right inline"})
                   </div>
                   <div class="small-9 large-9 columns">
                       @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
                       @Html.ValidationMessageFor(model => model.Email)
                   </div>
               </div>
               <div class="row">
                   <div class="small-3 large-3 columns">
                       @Html.LabelFor(model => model.ConfirmEmail, new { @class = "right inline"})
                   </div>
                   <div class="small-9 large-9 columns">
                       @Html.TextBoxFor(model => model.ConfirmEmail, new { placeholder = "Confirm Email" })
                       @Html.ValidationMessageFor(model => model.ConfirmEmail)
                   </div>
               </div>
               <div class="row">
                   <div class="small-3 large-3 columns">
                       @Html.LabelFor(model => model.Password, new { @class = "right inline"})
                   </div>
                   <div class="small-9 large-9 columns">
                       @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
                       @Html.ValidationMessageFor(model => model.Password)
                   </div>
               </div>
               <div class="row">
                   <div class="small-3 large-3 columns">
                       @Html.LabelFor(model => model.ConfirmPassword, new { @class = "right inline"})
                   </div>
                   <div class="small-9 large-9 columns">
                       @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })
                       @Html.ValidationMessageFor(model => model.ConfirmPassword)
                   </div>
               </div>
               <div class="row">
                   <div class="small-3 large-3 columns">
                       <label for="timeZone" class="right inline">Time Zone:</label>
                   </div>
                   <div class="small-9 large-9 columns">
                       <select name="timeZone">
                           @{ System.Collections.ObjectModel.ReadOnlyCollection<TimeZoneInfo> tz = TimeZoneInfo.GetSystemTimeZones(); }
                              @foreach(TimeZoneInfo timeZone in tz){
                                  <option value="@timeZone.Id">@timeZone.DisplayName</option>
                              }                            
                       </select>
                   </div>
               </div>
               <div class="row">
                   <div class="small-3 large-3 columns">
                       <input type="submit" class="button" value="Sign up!" />
                   </div>
               </div>
           </fieldset>
       </form>
    </div>
</div>