@using RunnersTracker.Business.DTO
@model RunnersTracker.WebUI.Models.ReportSummaryModel
@{
    ViewBag.Title = "Runner's Tracker - Summary";
}
@{UserDTO user = (UserDTO) Session["User"];}

<div class="row">
    <div class="small-12 large-12 columns">
        <h2 style="text-align:center;">@user.FirstName's Summary</h2>
    </div>
</div>
<div class="row">
    <div class="small-4 large-4 columns panel" style="margin-left:-10px;">
        <h4 style="text-align: center;">This Week</h4>
        <ul style="list-style-type:none">
            <li>Activities:  @Model.Reports["weekly"].ActivityCount</li>
            <li>Miles: @String.Format("{0:#,0.00}", Model.Reports["weekly"].Distance)</li>
            <li>Time: @{ TimeSpan ts = new TimeSpan(0, 0, Model.Reports["weekly"].Duration);}
                        @ts.ToString()</li>
            <li>Calories: @String.Format("{0:#,0}", Model.Reports["weekly"].Calories)</li>
        </ul>
    </div>
    <div class="small-4 large-4 small-center columns panel" style="margin-left:5px;" >
        <h4 style="text-align: center;">This Month</h4>
        <ul style="list-style-type:none">
            <li>Activities:  @Model.Reports["monthly"].ActivityCount</li>
            <li>Miles: @String.Format("{0:#,0.00}", Model.Reports["monthly"].Distance)</li>
            <li>Time: @{ TimeSpan tsMon = new TimeSpan(0, 0, Model.Reports["monthly"].Duration);}
                        @tsMon.ToString()</li>
            <li>Calories: @String.Format("{0:#,0}", Model.Reports["monthly"].Calories)</li>
        </ul>
    </div>
    <div class="small-4 large-4 columns panel"style="margin-left:5px;" >
        <h4 style="text-align: center;">Year to Date</h4>
        <ul style="list-style-type:none">
            <li>Activities:  @Model.Reports["yearly"].ActivityCount</li>
            <li>Miles: @String.Format("{0:#,0.00}", Model.Reports["yearly"].Distance)</li>
            <li>Time: @{ TimeSpan tsYear = new TimeSpan(0, 0, Model.Reports["yearly"].Duration);}
                        @tsYear.ToString()</li>
            <li>Calories: @String.Format("{0:#,0}", Model.Reports["yearly"].Calories)</li>
        </ul>
    </div>
</div>


