@using RunnersTracker.WebUI.HtmlHelpers;
@model RunnersTracker.WebUI.Models.LogEntryViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="small-12 large-12 columns">
        <h2 style="text-align: center;">Log Entries</h2>
    </div>
</div>
<div class="row">
    <div class="small-9 small-centered columns">
        <p style="text-align: right;"><a href="/runninglog/addactivity" class="button small success round">Add Activity</a></p>
        <table style="margin: 0px auto;width:100%;">
            <thead>
                <tr>
                    <td>Start Time</td>
                    <td>Activity Name</td>
                    <td>Activity Type</td>
                    <td>Miles</td>
                    <td>Duration</td>
                    <td>Calories</td>
                    <td>Tags</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            @foreach (var logEntry in Model.UserLogEntries)
            {
                <tr>
                    <td>@String.Format("{0:MM/dd/yyyy hh:mm tt}",logEntry.StartTime)</td>
                    <td>@logEntry.ActivityName</td>
                    <td>@Model.ActivityNames[logEntry.ActivityType_Id]</td>
                    <td>@logEntry.Distance </td>
                    <td>@{ TimeSpan ts = new TimeSpan(0,0,logEntry.Duration);}
                        @ts.ToString()
                    </td>
                    <td>@logEntry.Calories</td>
                    <td>@logEntry.Tags</td>
                    <td><a href="/RunningLog/EditActivity/@logEntry.LogId">Edit</a></td>
                    <td><a href="/RunningLog/DeleteActivity/@logEntry.LogId">Delete</a></td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="small-9 small-centered columns">
        <p style="text-align:center;">Pages: @Html.PageLinks(Model, x => Url.Action("index/", new { page = x }))</p>
    </div>
</div>
