@model RunnersTracker.WebUI.Models.NewPasswordModel
@{
    ViewBag.Title = "New Password";
    ViewBag.Login = "active";
}

<div class="row" style="padding-top: 20px;">
    <div style="padding-top: 10px;" class="small-6 small-centered columns panel">
        <h2>Reset Password</h2>
        @if (ViewBag.Expired == null)
        {
        <form name="reset" method="post" action="/login/NewPassword">
            <div class="row">
                <div class="small-3 large-3 columns">
                    @Html.LabelFor(model => model.Password, new { @class = "right inline" })
                </div>
                <div class="small-9 large-9 columns">
                    @Html.TextBoxFor(model => model.Password, new { placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="row">
                <div class="small-3 large-3 columns">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "right inline" })
                </div>
                <div class="small-9 large-9 columns">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>            
            <input type="submit" value="Reset Password" class="button" />
        </form>
        }
        else 
        {
            <p>Your password reset code expired.  Please generate a new reset email <a href="/login/resetpassword">here.</a></p>
        }        
    </div>
</div>
